<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}">
		<meta keywords="K9um Laude">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ function('wp_head') }}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	</head>
	{% if function( 'is_user_logged_in') %}
		<body id="top" class="detail-body">
			<div id="overlay"></div>
			<div id="results"></div>
			{% include "blocks/header.twig" %}
			{% block content %}
				<!-- This will be overwritten by the content block in the inheriting .twig file -->
			{% endblock %}
			{% include "blocks/footer.twig" %}
			{{ function('wp_footer') }}
		</body>
	{% else %}

		{{ function('wp_redirect', site.url ~ '/login') }}
	{% endif %}
</html>
