{% extends "base-protected-with-certificate.twig" %}
{% block content %}
	<main id="course">
		<div class="wrapper">
			<div class="container">
				<div class="left">
					<h1 class="heading">{{post.title}}</h1>
					<p class="text cm">{{post.custom.description}}</p>
				</div>
				<div class="right">
					<div class="container">
						<div class="left subcontainer">
							<p class="subheading">Progreso del curso</p>
							{% set progress = 100 / modules|length * completed_modules|length %}
							<div class="ldBar circle" data-preset="circle" data-value="{{ progress }}" style="height:128px;width: 128px;"></div>
						</div>
						<div class="right subcontainer">
							<p class="subheading">Detalles del curso</p>
							<ul class="course-details">
								<li>{{ source(directory ~ '/static/img/svg/icon01.svg') }}
									<p class="text">Módulos:
										{{modules|length}}</p>
								</li>
								<li>{{ source(directory ~ '/static/img/svg/icon02.svg') }}
									{% set totalCourseTime = 0 %}
									{% for chapter in chapters %}
										{% set totalCourseTime = totalCourseTime | date('U') + chapter.custom.minutes | date('U') %}
									{% endfor %}
									{% set tctMinutes = totalCourseTime | date('i') | number_format %}
									{% if totalCourseTime | date('s') > 60 %}
										{% set tctMinutes = tctMinutes + 1 %}
									{% endif %}
									<p class="text">Horas:
										{{ totalCourseTime | date('G') | number_format }},{{tctMinutes}}
									</p>
								</li>
								<li>{{ source(directory ~ '/static/img/svg/icon03.svg') }}
									<p class="text">Créditos:
										{{post.custom.credits}}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="next-module">
				<a href="#contenido" class="button button-m">Empezar</a>
			</div>
		</div>
		<div class="course-wrap" id="contenido">
			<div class="wrapper">
				<div class="chapter-menu">
					<h2 class="heading line-before">Módulos</h2>
					{% for module in modules %}
						{% if post.id == module.custom.belongs_to %}
							{% set completed, totalChaptertime, completedChaptertime = false, 0, 0 %}
							{% for chapter in chapters %}
								{% for completed_module in completed_modules %}
									{% if module.id == completed_module.id_modulo %}
										{% set completed = true %}
									{% endif %}
								{% endfor %}
								{% if chapter.custom.belongs_to == module.id %}
									{% for query in mega_query %}
										{% if chapter.id == query.id_capitulo %}
											{% set completedChaptertime = completedChaptertime | date('U') + chapter.custom.minutes | date('U') %}
										{% endif %}
									{% endfor %}
									{% set totalChaptertime = totalChaptertime | date('U') + chapter.custom.minutes | date('U') %}
								{% endif %}
							{% endfor %}
							<div class="module {{completedChaptertime == 0 ? 'disabled' : '' }}" data-id="{{module.id}}">
								<a href="{{module.link}}">
									<div class="left">
										<p class="subheading">{{module.title}}</p>
										<p class="text">{{module.custom.module_author}}</p>
									</div>
									<div class="right">
										<div>
											{{ source(directory ~ '/static/img/svg/icon02.svg') }}
											<p>
												{% set seconds = totalChaptertime|date('s')|number_format %}
												{% set minutes = totalChaptertime|date('i')|number_format %}
												{% set hours = totalChaptertime|date('H')|number_format %}
												{% if hours > 0 %}
													{% if hours == 1 %}
														{% set minutes = minutes + 60 %}
													{% else %}
														{% set minutes = minutes + hours * 60 %}
													{% endif %}
												{% endif %}
												{% if seconds > 60 %}
													{% set minutes = minutes + 1 %}
												{% endif %}
												{{minutes}}
												min</p>
										</p>
									</div>
									<div class="progress">
										{% if completed %}
											<div class="ldBar line2" data-value="100" data-aspect-ratio="none" style="width: 6rem"></div>
											<p class="text">100%</p>
										{% elseif completedChaptertime == 0 %}
											<div class="ldBar line2" data-value="0" data-aspect-ratio="none" style="width: 6rem"></div>
											<p class="text">0%</p>
										{% else %}
											{% set elapsedTime = totalChaptertime - completedChaptertime %}
											{% set etSeconds = elapsedTime|date('s')|number_format %}
											{% set etMinutes = elapsedTime|date('i')|number_format %}
											{% set etHours = elapsedTime|date('H')|number_format %}
											{% if etHours > 0 %}
												{% if etHours == 1 %}
													{% set etMinutes = etMinutes + 60 %}
												{% else %}
													{% set etMinutes = etMinutes + etHours * 60 %}
												{% endif %}
											{% endif %}
											{% if etSeconds > 60 %}
												{% set etMinutes = etMinutes + 1 %}
											{% endif %}
											{% set progressVal = 100 - etMinutes * 100 / minutes %}
											<div class="ldBar line2" data-value="{{ progressVal | number_format(2)}}" data-aspect-ratio="none" style="width: 6rem"></div>
											<p class="text">{{ progressVal | number_format(2, ',', '.')}}%</p>
										{% endif %}
									</p>
								</div>
								<div>
									{{ source(directory ~ '/static/img/svg/arrow.svg') }}
								</div>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="chapter-menu">
			<h2 class="heading heading-variant">Examen</h2>
			<div class="module module-variant">
				<a href="{{ site.url }}/examen-actualizacion-dislipemia">
					<div class="left">
						<p class="subheading">Examen</p>
					</div>
					<div class="right">
						<div>
							{{ source(directory ~ '/static/img/svg/arrow.svg') }}
						</div>
					</div>
				</a>
			</div>
			{% set enabled = completed_course|length %}
			<div class="chapter-menu">
				<h2 class="heading heading-variant">Certificado</h2>
				{% if enabled == true %}
					<div class="module module-variant">
						<a id="btn-certificate" href="#">
							<div class="left">
								<p class="subheading">Certificado</p>
							</div>
							<div class="right">
								<div>
									{{ source(directory ~ '/static/img/svg/arrow.svg') }}
								</div>
							</div>
						</a>
					</div>
				{% else %}
					<p class="text">Supera el examen para descargarte el certificado</p>
				{% endif %}
			</div>
			{% if enabled == true and current_user.poll_completed == false %}
				<div class="chapter-menu">
					<h2 class="heading heading-variant">Cuestionario de evaluación</h2>
					<div class="module module-variant">
						<a href="{{ site.url() }}/cuestionario">
							<div class="left">
								<p class="subheading">Cuestionario de evaluación</p>
							</div>
							<div class="right">
								<div>
									{{ source(directory ~ '/static/img/svg/arrow.svg') }}
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div></main>{% endblock %}
