{% extends "base.twig" %}
{% block content %}
	<main id="homepage">
		<section id="intro">
			<div class="container">
				<div class="left">
					<h2 class="heading">{{home_intro[0].custom.title}}</h2>
					<p class="text">{{home_intro[0].custom.description}}</p>
					{% if user %}
						<a href="{{site.url}}/curso/actualizacion-del-abordaje-terapeutico-del-paciente-con-dislipemia/" class="button button-l">Acceder al curso</a>
					{% else %}
						<a href="{{site.url}}/login" class="button button-m">Acceso</a>
					{% endif %}
				</div>
				<div class="right"><img src="{{ Image(home_intro[0].custom.image).src }}"></div>
			</div>
		</section>
		<section id="about">
			<div class="wrapper">
				<h2 class="heading">Sobre la formación</h2>
				<div class="container">
					<div class="card card-{{home_cards[0].custom.type}}">
						{{ source(directory ~ '/static/img/svg/computer.svg') }}
						<h3 class="subheading">{{ home_cards[0].custom.title}}</h3>
						<p class="card-description">{{ home_cards[0].custom.description}}</p>
					</div>
					<div class="card card-{{home_cards[1].custom.type}}">
						{{ source(directory ~ '/static/img/svg/people.svg') }}
						<h3 class="subheading">{{ home_cards[1].custom.title}}</h3>
						<p class="card-description">{{ home_cards[1].custom.description}}</p>
					</div>
					<div class="card card-{{home_cards[2].custom.type}}">
						{{ source(directory ~ '/static/img/svg/medal.svg') }}
						<h3 class="subheading">{{ home_cards[2].custom.title}}</h3>
						<p class="card-description">{{ home_cards[2].custom.description}}</p>
					</div>
					<div class="card card-{{home_cards[3].custom.type}}">
						{{ source(directory ~ '/static/img/svg/shield.svg') }}
						<div class="card-info-wrap">
							<div class="card-text-wrap">
								<h3 class="subheading">{{ home_cards[3].custom.title}}</h3>
								<p class="card-description">{{ home_cards[3].custom.description}}</p>
							</div>
							<p class="class-img"><img src="{{theme.link}}/static/img/shield.png"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="temario">
		<h2 class="heading">Programa formativo<br>del curso</h2>
		<div class="container">
			<div class="left">
				<img src="{{theme.link}}/static/img/mobiles.png" alt="">
			</div>
			<div class="right">
				{% for module in modules %}
					{% set first = 0 %}
					{% if module == modules[0] %}
						{% set first = 1 %}
					{% endif %}
					<div class="module {{ first ? 'selected' : ''}}">
						<div class="subheading-wrap">
							<p class="subheading has-children">{{ module.custom.title }}</p>
							{{ source(directory ~ '/static/img/svg/arrow.svg') }}
						</div>
						<div class="info">
							<p class="author">{{ module.custom.module_author }}</p>
							<p class="program-title">Temas:</p>
							{% for chapter in chapters %}
								{% if chapter.custom.belongs_to == module.id %}
									<p class="program-chapter">{{chapter.custom.chapter_name}}</p>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				<div class="module">
					<div class="subheading-wrap">
						<p class="subheading has-children">Evaluación final</p>
						{{ source(directory ~ '/static/img/svg/arrow.svg') }}
					</div>
					<div class="info">
						<p class="program-chapter">Cuestionario</p>
						<p class="program-chapter">Diploma</p>
						<p class="program-chapter">Certificado Participación</p>
					</div>
				</div>
			</div>
		</section>
		<section id="committee">
			<div class="wrapper">
				<h2 class="heading">Comité científico</h2>
			</div>
			<div class="members owl-carousel">
				{% for member in committee %}
					<div class="member">
						<div class="member-image-wrapper">
							<img src="{{ Image(member.custom.avatar).src }}" alt="{{member.custom.name}}" class="member-image">
						</div>
						<div class="info">
							<p class="member-name">{{member.custom.name}}</p>
							<p class="text-light">{{member.custom.description}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</main>{% endblock %}
