{% extends "base.twig" %}
{% block content %}
	<main id="module">
		<p class="current-user-info">Your name is
			{{ current_user.name }}</p>
		{{ dump(cust) }}
		{% set parent = Post(post.belongs_to) %}
		<div class="wrapper">
			<div class="breadcrumb">
				<a href="{{parent.link}}">
					<span class="breadcrumb-title">{{parent.post_title}}</span>
				</a>
				<span class="breadcrumb-separator">></span>
				<span class="breadcrumb-at">{{post.title}}</span>
			</div>
			<div class="header-module-content">
				<div class="header-module-content-display">
					<h1 class="heading number">Módulo
						{{post.custom.module_number}}.</h1>
					<h1 class="heading">{{post.custom.title}}</h1>
					<p class="text">{{post.custom.description}}</p>
				</div>
				<div class="header-module-content-list">
					<div class="subcontainer">
						<p class="subheading">Detalles del módulo</p>
						<ul class="module-details">
							<li>{{ source(directory ~ '/static/img/svg/icon01.svg') }}
								<p class="text">Capítulos:
									{{chapters|length}}</p>
							</li>
							<li>{{ source(directory ~ '/static/img/svg/icon02.svg') }}
								<p class="text">Minutos:
									{{post.custom.minutes}}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="section-background">
			<section id="content">
				<div class="module-content">
					<div class="module-content-display"></div>
					<div class="module-content-list">
						<div class="block noend">
							<ul class="chapters">
								<li>
									<div class="block-header">
										<p class="subheading">Módulo
											{{post.custom.module_number}}.</p>
										<p class="subheading">{{post.custom.title}}</p>
										<p class="author">{{post.custom.author}}</p>
									</div>
									<div id="custom-scroll" class="chapter-wrapper">
										{% for chapter in chapters %}
											{% if post.id == chapter.custom.belongs_to %}
												<div class="chapter-header">
													<p>
														<span class="chapter-title">Capítulo
															{{chapter.custom.chapter_number}}</span><br>
														<span class="chapter-name">{{chapter.custom.chapter_name}}</span>
													</p>
													<div>
														{{ source(directory ~ '/static/img/svg/icon02.svg') }}
														{% set count = 0 %}
														{% for subchapter in subchapters %}
															{% if chapter.id == subchapter.custom.belongs_to %}
																{% set count = count + subchapter.custom.time %}
															{% endif %}
														{% endfor %}
														<p>
															<span class="count">{{count}}</span>
															min</p>
													</div>
												</div>
												<ul class="subchapters">
													{% for subchapter in subchapters %}
														{% if chapter.id == subchapter.custom.belongs_to %}
															<li>
																<a href="#" data-id="{{subchapter.id}}">
																	<div class="subchapter-title-wrap">
																		{{ source(directory ~ '/static/img/svg/check-done.svg') }}
																		<p class="subchapter-title">
																			{{ subchapter.title }}</p>
																	</div>
																	<div>{{ source(directory ~ '/static/img/svg/icon02.svg') }}
																		<p>{{subchapter.custom.time}}
																			min</p>
																	</div>
																</a>
															</li>
														{% endif %}
													{% endfor %}
												</ul>
											{% endif %}
										{% endfor %}
									</div>
									<div class="chapter-footer">
										<div class="chapter-footer_text-wrap">
											<p class="chapter-footer__title">Tiempo para acabar el módulo</p>
											<div>{{ source(directory ~ '/static/img/svg/icon02.svg') }}
												<p class="remaining">
													<span>34</span>
													min</p>
											</div>
										</div>
										<div class="ldBar line" data-value="50" data-aspect-ratio="none" style="width: 100%"></div>
									</div>
								</li>
							</div>
						</ul>
						<div class="block material">
							<p class="subheading">Materiales de apoyo</p>
							{% for document in materials %}
								{% if document.custom.belongs_to == post.id %}
									{% set file = document.get_field( 'file' ) %}
									<a href="{{file}}" class="file text">{{document.custom.material_name}}</a>
								{% endif %}
							{% endfor %}
						</div>
						{% if post.next() %}
							<a href="{{post.next().link}}" class="nextModule-link">
								<div class="block nextModule">
									<p class="subheading nextModule-number">Módulo
										{{post.next().custom.module_number}}.</p>
									<p class="nextModule-title">{{post.next().custom.title}}</p>
								</div>
							</a>
						{% endif %}
						<a href="{{site.url}}/curso/actualizacion-del-abordaje-terapeutico-del-paciente-con-dislipemia/" class="seeAll-link">
							<div class="block seeAll">
								<p class="subheading">Ver todos los módulos</p>
							</div>
						</a>
					</div>
				</div>
			</li>
		</div>
	</div>
</section></li></div></div></main>{% endblock %}
