<div class="partners">
	<div class="participation">
		<p class="text-light">Con la participación de:</p>
		<a href="https://secardiologia.es" target="_blank">{{ source(directory ~ '/static/img/svg/logos/sec.svg') }}</a>
		<a href="https://www.se-arteriosclerosis.org" target="_blank">{{ source(directory ~ '/static/img/svg/logos/sea.svg') }}</a>
		<a href="https://www.fesemi.org" target="_blank">{{ source(directory ~ '/static/img/svg/logos/semi.svg') }}</a>
		<a href="https://www.seen.es/portal" target="_blank">{{ source(directory ~ '/static/img/svg/logos/seen.svg') }}</a>
		<a href="https://www.sediabetes.org" target="_blank">{{ source(directory ~ '/static/img/svg/logos/sed.svg') }}</a>
		<a href="https://www.senefro.org/modules.php?name=home&lang=ES" target="_blank">{{ source(directory ~ '/static/img/svg/logos/sen.svg') }}</a>
	</div>
	<div class="activity">
		<p class="text-light bigger-margin">Una actividad de:</p>
		<a href="https://www.ak9demia.es" target="_blank">{{ source(directory ~ '/static/img/svg/logos/ak9demia.svg') }}</a>
		<p class="text-light bigger-margin bigger-margin-left">Con la colaboración de:</p>
		<a href="https://www.sanofi.es" target="_blank">{{ source(directory ~ '/static/img/svg/logos/sanofi.svg') }}</a>
		<p class="text-light bigger-margin bigger-margin-left">Secretaría técnica:</p>
		<a href="https://medea.es" target="_blank">{{ source(directory ~ '/static/img/svg/logos/medea.svg') }}</a>
	</div>
</div>
<footer>
	<div class="wrapper">
		<div class="left">&copy;
			{{ now|date('Y') }}
			Sanofi-aventis, S.A. Todos los derechos reservados</div>
		<div class="right">
			<a href="{{site.url}}/aviso-legal" target="_blank">Aviso legal</a>
			<a href="mailto:secretaria.tecnica@k9umlaude.es?subject=Contacto%20K9um%20laude">Contacto</a>
			<a href="{{site.url}}/politica-cookies" target="_blank">Política de cookies</a>
			<a href="{{site.url}}/politica-privacidad" target="_blank" class="noline">Política de privacidad</a>
		</div>
	</div>
</footer>
