<div class="partners">
	<div class="participation">
		<p class="text-light">Con la participación de:</p>
		{{ source(directory ~ '/static/img/svg/logos/sec.svg') }}
		{{ source(directory ~ '/static/img/svg/logos/sea.svg') }}
		{{ source(directory ~ '/static/img/svg/logos/semi.svg') }}
		{{ source(directory ~ '/static/img/svg/logos/seen.svg') }}
		{{ source(directory ~ '/static/img/svg/logos/sed.svg') }}
		{{ source(directory ~ '/static/img/svg/logos/sen.svg') }}
	</div>
	<div class="activity">
		<p class="text-light bigger-margin">Una actividad de:</p>
		{{ source(directory ~ '/static/img/svg/logos/ak9demia.svg') }}
		<p class="text-light bigger-margin-left">Una iniciativa de:</p>
		{{ source(directory ~ '/static/img/svg/logos/sanofi.svg') }}
	</div>
</div>
<footer>
	<div class="wrapper">
		<div class="left">&copy;
			{{ now|date('Y') }}
			Sanofi-aventis, S.A. Todos los derechos reservados</div>
		<div class="right">
			<a href="https://www.sanofi.es/es/aviso-legal" target="_blank">Aviso legal</a>
			<a href="mailto:secretaria.tecnica@k9umlaude.es?subject=Contacto%20K9um%20laude">Contacto</a>
			<a href="https://www.sanofi.es/es/politica-de-cookies" target="_blank">Política de cookies</a>
			<a href="https://www.sanofi.es/es/politica-de-privacidad" target="_blank" class="noline">Política de privacidad</a>
		</div>
	</div>
</footer>
