<div class="header-wrap">
	<header>
		{% if fn('is_front_page') %}
			<h1 class="header-logo">
				<a href="{{ site.url }}/#top">{{ source(directory ~ '/static/img/svg/logo.svg') }}
				</a>
			</h1>
		{% else %}
			<p class="header-logo">
				<a href="{{ site.url }}/#top">{{ source(directory ~ '/static/img/svg/logo.svg') }}
				</a>
			</p>
		{% endif %}
		{% if fn('is_front_page') %}
			<div>
				{% include "blocks/nav.twig" %}
				{% if user %}
					<div id="account" data-id="{{user.id}}" title=" {{ user.name }} ">
						<a href="{{ function('wp_logout_url', site.url ) }}" class="button button-m">Cerrar sesión</a>
						<a href="#" class="avatar">{{ source(directory ~ '/static/img/svg/account.svg') }}</a>
					</div>
				{% else %}
					<a href="{{ site.url }}/login" class="button button-m">Acceso</a>
				{% endif %}
			</div>
		{% elseif fn('is_page', 'Login') %}
			{% if user %}
				<div class="page-nav">
					<div id="account" data-id="{{user.id}}" title=" {{ user.name }} ">
						<a href="{{ function('wp_logout_url', site.url ) }}" class="button button-m">Cerrar sesión</a>
						<a href="#" class="avatar">{{ source(directory ~ '/static/img/svg/account.svg') }}</a>
					</div>
				</div>
			{% endif %}
		{% else %}
			<div>
				{% if user %}
					<div id="account" data-id="{{user.id}}" data-nif={{user.dni_nie}} title="{{ user.name }}">
						<a href="{{ function('wp_logout_url', site.url ) }}" class="button button-m">Cerrar sesión</a>
						<a href="#" class="avatar">{{ source(directory ~ '/static/img/svg/account.svg') }}</a>
					</div>
				{% else %}
					<a href="{{ site.url }}/login" class="button button-m">Acceso</a>
				{% endif %}
			</div>
		{% endif %}
	</header>
</div>
